.btn-info {
	border-radius: 0;
	background-color: #FFFFFF;
	color: #5bc0de;
}

.form-gray-text {
	color: #848f8c;
}

.form-btn {
	padding: 0.3rem 2rem;
	font-size: 2rem;
}

.plus {
	border-color: #5bc0de #5bc0de #5bc0de #5bc0de;
}

.minus {
	border-color: #5bc0de #FFFFFF #5bc0de #5bc0de;
}

.edit-btn {
	color: #000000;
	font-size: 1rem;
	border-color: #FFFFFF;
}

.btn-gray {
	background-color: #acb8b4;
	border-color: #FFFFFF;
	border-radius: 0;
}

.form_header{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.1px;
    color: #ffffff;
}

.form_content{
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    font-size: 16px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.2px;
	color: #ffffff;
}
